# Ansible collections, modules, and logging
/.ansible/

# Python Virtual Environment for Ansible project
/.ansible_venv/

# Runtime-generated Ansible variables loaded with:
# ansible-playbook -e "@vars/environment.yml"
vars/environment.yml
