[defaults]
# disable ASCII cow banner
nocows=true

# all generated Ansible artifacts from the project
log_path = ./.ansible/logs/ansible.log

# display task execution duration after each task
callbacks_enabled = ansible.posix.profile_tasks

# disable creation of legacy *.retry files after failed runs
retry_files_enabled = False

# auto-detect the correct Python interpreter
interpreter_python = auto_silent
