[Service]
Documentation=https://www.networkmanager.dev/docs/api/latest/nm-cloud-setup.html#providers
Documentation=https://docs.redhat.com/en/documentation/red_hat_enterprise_linux/9/html/configuring_and_managing_networking/automatically-configuring-network-interfaces-in-public-clouds-using-nm-cloud-setup_configuring-and-managing-networking

Environment=NM_CLOUD_SETUP_EC2=yes
