{% set account = aws_account_id_current %}
{% set ns = namespace(result='') %}

{% set teams = ['secops', 'siteops'] %}
{% for team in teams %}

  {% if not ns.result and account == aws_acct_id[team].prod %}
    {% set ns.result = domain[team] %}
  {% elif not ns.result and account == aws_acct_id[team].stage %}
    {% set ns.result = 'stage.' + domain[team] %}
  {% endif %}

{% endfor %}

{{ ns.result }}
