{% set account = caller_info.account %}
{% set matched = [] %}

{% set teams = ['secops', 'siteops'] %}
{% for team in teams %}

  {% if not matched and account == aws_acct_id[team].prod %}
    {% set _ = matched.append(domain[team]) %}
  {% elif not matched and account == aws_acct_id[team].stage %}
    {% set _ = matched.append('stage.' + domain[team]) %}
  {% endif %}

{% endfor %}

{{ matched[0] | default('') }}
